body {
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.helloWorld-container {
  font-size: 2em;
  font-weight: bold;
}